---
import { Icon } from "astro-icon/components";
import { type Icon as IconProps } from "virtual:astro-icon";

export interface SocialData {
  href: string;
  size?: number;
  iconKey: IconProps;
  i18nKey: string;
}

const socials = [
  {
    href: "https://www.linkedin.com/in/sergio-bele%C3%B1a-boix-067158126/",
    i18nKey: "LinkedIn",
    iconKey: "lucide:linkedin",
  },
  {
    href: "https://github.com/chibek",
    i18nKey: "Github",
    iconKey: "lucide:github",
  },
  {
    href: "sergi.bele@hotmail.com",
    i18nKey: "Email",
    iconKey: "lucide:mail",
  },
] as const satisfies SocialData[];

const { translations } = Astro.locals;
const t = translations.sections.hero;
---

<section>
  <div
    data-sal="slide-up"
    data-sal-delay="300"
    data-sal-easing="ease-out-back"
    data-sal-once="false"
  >
    <div class="font-neutralFace ~text-2xl/4xl">
      <h1 class="max-w-4xl" set:html={t.headline} />
    </div>

    <p class="my-6 text-muted-foreground text-lg" set:html={t.description} />
  </div>
  <div class="flex gap-4 items-center justify-end">
    <div class="flex gap-2">
      {
        socials.map(({ href, i18nKey, iconKey }) => (
          <a
            href={href}
            target="_blank"
            class:list={[
              "rounded-lg text-foreground/80 transition duration-200",
              "hover:bg-accent",
            ]}
            data-tip={i18nKey}
            data-tip-placement="bottom"
          >
            <Icon
              name={iconKey}
              class="box-content size-6 p-2 text-current sm:size-7 md:size-8"
            />
          </a>
        ))
      }
    </div>
  </div>
</section>
